body {
    font-family: 'Lora';
}

.center-wrap {
    float: left;
    position: relative;
    left: 50%;
    max-width: 40%;
}

.center-container {
    float: left;
    position: relative;
    left: -50%;
}

h1 {

}

h2 {
    
}

p {
    font-size: 20px;
}

.title {
    font-size: 35px;
    text-align: center;
    font-family: 'Playfair Display';
}

.persona-name, .application-name {
    font-weight: bold;
    color: rgb(77, 77, 77)
}

.gallery {
    text-align: center;
}

.main-image img {
    width: 100%;
    height: auto;
}

.thumbnail-images {
    display: flex;
    justify-content: center;
}

.thumbnail {
    max-width: 100px;
    height: auto;
    margin: 5px;
    cursor: pointer;
    opacity: 50%;
}