.center-wrap {
    float: left;
    position: relative;
    left: 50%;
    max-width: 40%;
}

.center-container {
    float: left;
    position: relative;
    left: -50%;
}

h1 {

}

h2 {
    
}

p {

}